header.header {
    height: 168px;
    background: #f0f5ff;
    padding: 16px 24px;
    line-height: 18.2px;
}

header a.mainLink {
    color: #262626;
}

div h1.title {
    margin: 0;
    font-weight: 700;
    line-height: 49.4px;
}

.row {
    justify-content: space-between;
}

.settings {
    padding: 8px 0;
}

.settings a.settingsLink {
    color: #262626;
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 1024px) {
    header.header {
        height: 194px;
    }

    .header.collapsed {
        height: 132px;
    }

    div h1.title {
        font-weight: 500;
        font-size: 24px;
        line-height: 31.2px;
    }

    span.settingsIcon {
        display: none;
    }

    .titleSpan {
        display: inline-block;
    }
}

@media screen and (max-width: 576px) {
    .header.header {
        height: 166px;
    }

    div h1.title {
        font-size: 20px;
        line-height: 26px;
    }

    .settings a.settingsLink {
        display: none;
    }
}
